.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.containerStyle {
      flex: 1;
      flex-Direction: "column";
      justify-Content: 'space-around';
      max-Width: "100%";
    
  }

.button {
      align-Items: "center";
      background-Color: "black";
      border-Radius: 2;
      padding: 10;
      margin: 1
    }
  .textContainerStyle {
      flex: 2;
      flex-Direction: 'column';
      margin: 10;
      margin-Bottom: 0;
      max-Width: "100%";
      border-Bottom-Color: 'black';
      border-Bottom-Width: 1;
      padding-Bottom: 10 
  }
  .textBottom{
    margin-Bottom: 10
  }

  .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  p {
    font-size: small;
  }

  .inner-title{
    font-weight: bold;
    text-decoration: underline;
  }

  .buttonClass {
    align-Items: "center";
    background-Color: "black";
    border-Radius: 2;
    padding: 10;
    margin: 1;
    width: "100%";
    color: "white"
  }